! reload urxvt config with:
! xrdb ~/.Xresources

! xft Settings
Xft*dpi: 96
Xft*antialias:  true
Xft*hinting:    true
Xft*rgba:       rgb
Xft*autohint:   false
Xft*hintstyle:  hintfull
Xft*lcdfilter:  lcddefault

! urxvt appearance
URxvt*font: xft:Source Code Pro:pixelsize=10:antialias=true

URxvt*internalBorder:  20
URxvt*letterSpace: -1
URxvt*urgentOnBell: true
URxvt*cursorBlink: true
URxvt*cursorUnderline: false
URxvt*dynamicColors: on

! urxvt behaviour
URxvt*termName: rxvt-unicode-256color
URxvt*scrollBar: false
URxvt*scrollstyle: xterm
URxvt*saveLines: 100000
URxvt*scrollTtyOutput: false
URxvt*scrollWithBuffer: true
URxvt*scrollTtyKeypress: true
URxvt*print-pipe: "cat > /dev/null"
URxvt*iso14755: false
URxvt*iso14755_52: false

! urxvt native extensions
URxvt*perl-ext-common: default,matcher,selection-to-clipboard,confirm-paste,paste_clipboard

! urxvt custom extensions
URxvt*perl-ext: fullscreen,newterm,keyboard-select,font-size

! extensions related settings
URxvt*colorUL: #FFFFFF
URxvt*matcher.button: 1
URxvt*url-launcher: /usr/bin/firefox
URxvt*url-select.launcher: linkhandler
URxvt*url-select.underline: true
URxvt*keyboard-select.clipboard: true

! extensions keymap
URxvt.keysym.C-underscore: font-size:show
URxvt.keysym.C-equal: font-size:reset
URxvt.keysym.C-Up: font-size:increase
URxvt.keysym.C-Down: font-size:decrease
URxvt.keysym.C-S-Up: font-size:incglobal
URxvt.keysym.C-S-Down: font-size:decglobal

URxvt.keysym.C-Return: perl:fullscreen:switch
URxvt.keysym.C-N: perl:newterm
URxvt.keysym.C-Escape: perl:keyboard-select:activate
URxvt.keysym.C-s: perl:keyboard-select:search
URxvt.keysym.Shift-Control-V: eval:paste_clipboard

! load a theme
#include "/home/tlaurens/.urxvt/themes/onedark"
! #include "/home/thibault/.urxvt/themes/gruvbox"
! #include "/home/thibault/.urxvt/themes/nord"
