#!/usr/bin/env bash

# Easier navigation: .., ..., ...., ....., ~ and -
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias ~="cd ~"                      # `cd` is probably faster to type though
alias -- -="cd -"

alias dl="cd ~/Downloads"
alias dt="cd ~/Desktop"
alias log='cd /var/log'

# Shortcuts
alias e="$EDITOR"
alias g="git"
alias v="vim"
alias h="history"
alias cp='cp -iv'
alias mv='mv -iv'
alias rm='rm -iv'
alias c='clear'
alias mkdir='mkdir -pv'
alias ll='ls -FGlAhp'
alias less='less -FSRXc'
alias ps='ps -ef'
alias lsof ='lsof -i'
alias path='echo -e ${PATH//:/\\n}'

# Edit /etc/hosts file
alias hosts='sudo $EDITOR /etc/hosts'

# Lock the screen
alias afk="/System/Library/CoreServices/Menu\ Extras/User.menu/Contents/Resources/CGSession -suspend"

# IP addresses
alias ip="dig +short myip.opendns.com @resolver1.opendns.com"
alias localip="ipconfig getifaddr en0"

# Flush Directory Service cache
alias flush="sudo dscacheutil -flushcache && sudo killall -HUP mDNSResponder"

# Daily homebrew update
alias bu='brew update; brew upgrade; brew cleanup; brew doctor'

# Git
alias git=hub
alias gs="git status -s"
alias gp="git push origin HEAD"
alias gpr='git pull-request'
alias gl="git log --all --graph --decorate --oneline --simplify-by-decoration" # pretty branch status
alias wip="git commit -m 'wip' . && git push origin HEAD"
alias gd="git diff --color | diff-so-fancy | less --tabs=4 -RFX"
alias ga='git add -p'           # step through each change, or hunk
alias gc='git commit -m'
alias gb='git branch'
alias gc='git checkout'
alias gra='git remote add'
alias grr='git remote rm'
alias gf='git reflog'           # allows you to see every step you have made with git
alias gst='git stash'           # stash git changes and put them into your list
alias gdtp='git stash pop'      # bring back your changes, but it removes them from your stash
alias gcln='git clean -xfd'     # remove untracked files
